body {

  margin: auto;
}
.red-text {
  color: red;
  font-family: lobster;

}

.blue-text {
  color:blue;
}

p {
  font-size: 20px;
  font-family: monospace;
}

.smaller-image {
  width: 300px;
}

.thick-orange-border {
  border-width: 10px;
  border-color: orange;
  border-style: solid;
  /*makes image circular*/
  border-radius: 50%;

}
