body {

  margin: auto;
}
.red-text {
  color: red;
  font-family: lobster;

}

.blue-text {
  color:blue;
}

p {
  font-size: 20px;
  font-family: monospace;
}

.smaller-image {
  width: 300px;
}

.thick-orange-border {
  border-width: 10px;
  border-color: orange;
  border-style: solid;
  /*makes image circular*/
  border-radius: 50%;

}

.pink-background {
  background-color: pink;
}

.yellow-background{
  background-color: yellow;
}

#cat-photo-form {
  border-width: thin;
  border-color: green;
  border-style: double;

}
